flask
flask_cors
flask_compress
flask_login
pymongo
requests
python-dateutil
schedule
python-dotenv
# optional dependency for fuzzywuzzy that speeds up sequence matching
python-Levenshtein
pytz
tqdm
nltk==3.2.5
# specify --no-binary to link with existing geos library on alpine image built
# from source
shapely --no-binary=shapely
haversine
fuzzywuzzy
unidecode
psycopg2
Flask-SQLAlchemy
eventbrite
