flask
flask_cors
flask_oauth
flask_login
pymongo
requests
python-dateutil
schedule
python-dotenv
pytz
tqdm
nltk==3.2.5
shapely
haversine
fuzzywuzzy
unidecode

# Machine Learning
scikit-learn
numpy
scipy
pandas
